
.img_logo{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.logout{
   margin-left: 10px;
   height: 35px;
 
   background-color: transparent;
    border-radius: 10px;
   color: rgb(36, 129, 13) ;
  
    text-align: center;
    border:  2px solid rgb(99, 191, 76) ;
    font-weight: 600;
    box-shadow:  1px 3px 5px rgb(45, 45, 45);
    font-style: italic;

}
.logout:hover{
  color: white;
  background-color:rgb(36, 129, 13)  ;
}