/* .btn{
    width: 30%;
    height: 35px;
    border-radius: 10px;
    font-size: 15px;
    
    text-align: center; 
    border:  2px solid rgb(80, 229, 43);
    font-weight: 600;
    box-shadow:  1px 3px 5px rgb(45, 45, 45);
    font-style: italic;
} */
/* .imageChoose{
    background-color:rgb(80, 229, 43,.3);
    color: rgb(46, 44, 44);
    font-weight: 500;
    font-style: italic;
    border: none;
    border-radius: 0 10px 0 10px;
    width: 40%;
    height: 35px;
   margin: 5px;
   box-shadow:1px 3px 5px rgb(45, 45, 45) ;
   
    
} */